/* || General setup */

* {
    margin: 0;
    padding: 0;  
    
  }
    
  
  
  
  
  body {
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
    height: 80%;
    min-height: 800px;

    background-image: url(images/fresa_bakingBackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }


  
  /* || typography */
  
  h2 {
    font-family: 'Shrikhand';
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #001A1E;
  }

  p {
    font-family: 'Domine';
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0 auto;
    font-weight: 200;
    color: #001A1E;
    text-align: justify;
    display:block;
  }

    
  
 
  li {
    font-family: 'Shrikhand';
    font-weight: large;
    
  }
  
  /* || header layout */
  
 

  body > * {
    padding: 1%;
  }
  

  
  /* || main layout */
  main {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  
  article{
    flex: 4; 
  }
 


  .wrapper {
    align-items: center;
    min-height: 85%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px dotted #b79683f7;
    margin: 25px;
    background-color:indianred;
  }


  .wrapper div {
    border-radius: 14px;
  }

